---
const altText = "Guillermo Navarro - gan01_97";
const imageUrl = "/fotoPerfilLinkedin.webp";
const linkedin = "https://www.linkedin.com/in/guillermo-antonio-navarro/";
const Github = "https://github.com/Guille0197";

import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import SocialPill from "@/components/SocialPill.astro";
import TypewriterEffect from "./TypewriterEffect.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <a
      href={linkedin}
      target="_blank"
      rel="noopener noreferrer"
      class="md:hover:scale-105"
    >
      <img
        class="rounded-full shadow-2xl size-20"
        src={imageUrl}
        alt={altText}
      />
    </a>
    <a
      href={linkedin}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Guillermo
  </h1>
  <TypewriterEffect />
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-sky-500 [&>strong]:text-sky-500 [&>strong]:font-semibold dark:text-gray-300 text-balance"
  >
    Con <strong>+4 a침os</strong> de experiencia. Especializado en el desarrollo de
    <strong>aplicaciones web</strong> y <strong>m칩viles h칤bridas</strong>.
    <br />
    Desde Panam치 游왫릖
  </p>

  <nav class="flex flex-wrap justify-start gap-3 sm:gap-1 md:gap-3 mt-8">
    <SocialPill href="mailto:gnavarro0197@gmail.com">
      <MailIcon class="size-4 mr-1" />
      Cont치ctame
    </SocialPill>
    <SocialPill href={linkedin}>
      <LinkedInIcon class="size-4 mr-1" />
      LinkedIn
    </SocialPill>
    <SocialPill href={Github}>
      <GitHubIcon class="size-4 mr-1" />
      GitHub
    </SocialPill>
  </nav>
</div>
